.page {
}
.heading {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center
}

.blue {
    background: rgb(27, 121, 228);
    font-size: 24px;
    color: white;
    font-family: sans-serif;
    border-radius: 4px;

    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}

.button {
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    opacity: 1;
}

.calculator {
    margin: auto;
    max-width: 400px;
}

.grid {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
}

.clear {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#result {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 60px;
    text-align: right;
    padding: 10px;
}